# Python Basic Assignment 1

##  Name := Yash Bhaskar Narkhede

## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*            : Expression(Mathematical operators)
'hello'      : Value (String) 
-87.8        : Value (Float)
-            : Expression(Mathematical operators)
/            : Expression(Mathematical operators)
6            : Value (Integer)

## 2. What is the difference between string and variable?

 Variable is a container which can store the value(data) and this data can be of int, float, str data-type.
 whereas string is one of the datatype which is collection characters (for eg: 'Data Science')

## 3. Describe three different data types.

Int : Int datatype is used to repersent the integer values (eg. a = 123, b = -421)

float : Float datatype is used to repersent the real numbers(floating point) (eg. c = 12.34, d = -3.69)

string: String is used to repersent the sequence of characters. Also the characters can be numbers, special character, and alphabates. (eg. s1 = "Hello World!", s2 = "123<!@45")

## 4. What is an expression made up of? What do all expressions do?

Expression : Expression is the combinaton.of mathematical operators, variables(or Constants). It consists of one or more operand and zero or more operators to produce a value.

Expression is used to produce some result or value.

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Assignment statement : It is the statement where some value or expression is assigned to a variable or constant.
Difference : The difference is that expression itself is assigned to a variable or constant.

For Eg: spam = 10 * a
In the example " spam = 10 a " is a assignment statement whereas the " 10 a " is an expression.

## 6. After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

Ans: bacon will contain 22.

In [5]:
bacon = 22

In [6]:
bacon + 1

23

In [7]:
print(bacon)

22

## 7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

Ans:
    'spam' + 'spamspam' = 'spamspamspam'
    'spam' * 3 = 'spamspamspam'

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam' * 3

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

Ans: Because the variable declartion in python is that the variable name must start with a alphabate or underscore '_'
eg : a = 10, str1 = "Data", _val = -12.34

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans: Typecasting can be used to get the value
for int : int()
for float : float()
for string : str()

In [10]:
int(16.06)

16

In [11]:
int("4321")

4321

In [12]:
float(2000)

2000.0

In [13]:
str(456)

'456'

In [14]:
str(34 + 8j)

'(34+8j)'

## 10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

Ans: The concat operation between string and int is not possbile. So it will throw an error
Fix: To fix this error we can typecast the int value using str(99)

In [15]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [16]:
### Solve
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'