# Python Basic Assignment 2

## Name := Yash Bhaskar Narkhede

## 1.What are the two values of the Boolean data type? How do you write them?

### Ans :=


There are 2 values of Boolean Data Type


    1.True 2. False


Syntax: True, False

In [1]:
a = True
b = False
print('a: ', a)
print('b: ', b)

a:  True
b:  False

## 2. What are the three different types of Boolean operators?

### Ans :=
There different types of Boolean operators are:

1.AND  


2.OR


3.NOT

## 3. Make a list of each Boolean operator's truth tables
(i.e. every possible combination of Boolean values for the operator and what it evaluate ).

### Ans :=

In [2]:
list_AND = [1 and 1, 1 and 0, 0 and 1, 0 and 0]
list_AND

[1, 0, 0, 0]

In [3]:
list_OR = [1 or 1, 1 or 0, 0 or 1, 0 or 0]
list_OR

[1, 1, 1, 0]

In [4]:
list_NOT = [not 1, not 0]
list_NOT

[False, True]

## 4. What are the values of the following expressions?

(5 > 4) and (3 == 5)


not (5 > 4)


(5 > 4) or (3 == 5)


not ((5 > 4) or (3 == 5))


(True and True) and (True == False)


(not False) or (not True)

### Ans :=

In [5]:
print((5 > 4) and (3 == 5),
      not (5 > 4),
      (5 > 4) or (3 == 5),
      not ((5 > 4) or (3 == 5)),
      (True and True) and (True == False),
      (not False) or (not True)
     )

False False True False False True

## 5. What are the six comparison operators?

Ans :=

1. == : is equal to

2. != : is not equal to

3. > : is greater than

4. >= : is greater than or equal to

5. < : is less than

6. <= : is less than or equal to

## 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

### Ans :=

*   ' = ' : single equals to sign is used for the assignment operation.
*   ' == ' : double equals to sign is used for the equal to condition check.
* When we want to assign something (eg. a = 10) we use the assignment operator. whereas when we want to check some condition (eg. 10 == 100) we use the equal to condition check operator.

## 7. Identify the three blocks in this code:

spam = 0

if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

In [6]:
spam = 0

if spam == 10:  ## Block 1
    print('eggs')
    
if spam > 5:    ## Block 2
    print('bacon')
else:           ## Block 3
    print('ham')
    
print('spam')
print('spam')

ham
spam
spam

## 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.
Code:

In [7]:
spam = 1

if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings!')

Hello

## 9.If your programme is stuck in an endless loop, what keys youâ€™ll press?
ans:



1.  Press Ctrl + C on the command line.
2.  Restart the kernal

## 10. How can you tell the difference between break and continue?
ans:



*   Break: It is used to break the loop and exit from the loop

*   continue: It is used to skip the current iteration of the loop and continue with the next iteration.

## 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?
ans:

There is no difference

In [8]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [9]:
for i in range(0, 10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [10]:
for i in range(0, 10, 1):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

## 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.
Code:

In [11]:
for i in range(1, 11):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [12]:
i = 1
while i < 11:
    print(i, end = ' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

## 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?
Ans :=

import spam

spam.bacon()