#Python Programming Assignment 21
##Name := Yash Bhaskar Narkhede

## 1. Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

In [1]:
def next_in_line(lst: list, num):
    if len(lst) > 0:
        lst.append(num)
        return lst[1:]
    else:
        return "'No list has been selected'"
    
print(next_in_line([5, 6, 7, 8, 9], 1))
print(next_in_line([7, 6, 3, 23, 17], 10))
print(next_in_line([1, 10, 20, 42 ], 6))
print(next_in_line([], 6))

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]
[10, 20, 42, 6]
'No list has been selected'

## 2. Create the function that takes a list of dictionaries and returns the sum of people's budgets.

In [2]:
def get_budgets(lst: list):
    total = 0
    for d in lst:
        total += d['budget']
    return total
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [3]:
get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
])

62600

## 3. Create a function that takes a string and returns a string with its letters in alphabetical order.

In [4]:
def alphabet_soup(string: str):
    string = sorted(string)
    return "".join(string)
print(alphabet_soup('hello'))
print(alphabet_soup('edabit'))
print(alphabet_soup('hacker'))
print(alphabet_soup('geek'))
print(alphabet_soup('javascript'))

ehllo
abdeit
acehkr
eegk
aacijprstv

## 4. Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?

In [5]:
def compound_interest(amt, years, intrest, compPeriod):
    future_value = amt *(1 + (intrest/compPeriod)) ** (years * compPeriod)
    return round(future_value,2)
print(compound_interest(100, 1, 0.05, 1))
print(compound_interest(3500, 15, 0.1, 4))
print(compound_interest(100000, 20, 0.15, 365))

105.0
15399.26
2007316.26

## 5. Write a function that takes a list of elements and returns only the integers.

In [6]:
def return_only_integer(lst: list):
    return [x for x in lst if type(x) == int]
print(return_only_integer([9, 2, 'space', 'car', 'lion', 16]))
print(return_only_integer(['hello', 81, 'basketball', 123, 'fox']))
print(return_only_integer([10, '121', 56, 20, 'car', 3, 'lion']))
print(return_only_integer(['String', True, 3.3, 1]))

[9, 2, 16]
[81, 123]
[10, 56, 20, 3]
[1]