#Python Programming Assignment 23
##Name := Yash Bhaskar Narkhede

## 1. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(num):
    currentDigit = reversedDigit = 0
    remainingNum = num
    while(remainingNum != 0):
        currentDigit = remainingNum % 10
        reversedDigit = reversedDigit * 10 + currentDigit
        remainingNum = remainingNum // 10

    if reversedDigit == num:
        return True
    else:
        return False
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

## 2. Given a string of numbers separated by a comma and space, return the product of the numbers.

In [2]:
def multiply_nums(s):
    product = 1
    for i in s.split(','):
        product = product * int(i)
    return product
print(multiply_nums('2, 3'))
print(multiply_nums('1, 2, 3, 4'))
print(multiply_nums('54, 75, 453, 0'))
print(multiply_nums('10, -2'))

6
24
0
-20

## 3. Create a function that squares every digit of a number.

In [3]:
def square_digits(num):
    res = ""
    for c in str(num):
        res += str(int(c)**2)
    return int(res)
print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

## 4. Create a function that sorts a list and removes all duplicate items from it.

In [4]:
def setify(lst):
    return list(set(lst))
print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

## 5. Create a function that returns the mean of all digits.

In [5]:
def mean(n): 
    N = len(str(n)) 
    sum = mean = 0
    
    for digit in str(n):
        sum += int(digit)       
    return int(sum/N)
print(mean(42))
print(mean(12345))
print(mean(666))

3
3
6