#Python Programming Assignment 24
##Name := Yash Bhaskar Narkhede

## 1. Create a function that takes an integer and returns a list from 1 to the given number, where:

In [1]:
def amplify(n):
    return [i*10 if i % 4 == 0 else i for i in range(1,n+1)]
print(amplify(4))
print(amplify(3))
print(amplify(25))

[1, 2, 3, 40]
[1, 2, 3]
[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

## 2. Create a function that takes a list of numbers and return the number that's unique.

In [2]:
def unique(lst: list):
    res = []
    for i in set(lst):
        if lst.count(i) == 1:
            res.append(i)
    return res
print(unique([3, 3, 3, 7, 3, 3]))
print(unique([0, 0, 0.77, 0, 0]))
print(unique([0, 1, 1, 1, 1, 1, 1, 1]))

[7]
[0.77]
[0]

## 3. Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

In [3]:
import math

class Circle:
    def __init__(self, r):
        self.r = r
    
    def getArea(self):
        return round(math.pi * (self.r ** 2))
    
    def getPerimeter(self):
        return round(2 * math.pi * self.r)

In [4]:
shape = Circle(11)
print(shape.getArea())

shape = Circle(4.44)
print(shape.getPerimeter())

380
28

## 4. Create a function that takes a list of strings and return a list, sorted from shortest to longest.

In [5]:
from collections import OrderedDict
def sort_by_length(lst):
    
    my_dict = {len(v):v for v in lst}
    
    return list(OrderedDict(sorted(my_dict.items())).values())
print(sort_by_length(['Google', 'Apple', 'Microsoft']))
print(sort_by_length(['Leonardo', 'Michelangelo', 'Raphael', 'Donatello']))
print(sort_by_length(['Turing', 'Einstein', 'Jung']))

['Apple', 'Google', 'Microsoft']
['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']
['Jung', 'Turing', 'Einstein']

## 5. Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.

In [6]:
def is_triplet(a,b,c):
    lst = [a, b, c]
    lst.sort()
    if lst[0] ** 2 + lst[1] ** 2 == lst[2] ** 2:
        return True
    else:
        return False
print(is_triplet(3, 4, 5))
print(is_triplet(13, 5, 12))
print(is_triplet(1, 2, 3))

True
True
False